<app-navbar />

<main class="flex center flex-col gap-5">

  <!--
    - Hero
    - About
    - Markdown
    - RepoSitory
  -->

  <section>


  </section>

  <section class="flex flex-row center max-w-screen-xl mx-auto">
    <div class="flex flex-col w-3/5 p-8 h-full">
      <img class="rounded-lg"
        src="https://images.unsplash.com/photo-1517842645767-c639042777db?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80">
    </div>
    <div class="flex flex-col w-3/5 gap-2">
      <h3 class="subTitle">Sobre Markdown</h3>
      <div>
        Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem
        pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud
        ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut
        officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris
        cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia
        eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat
        ullamco ut ea consectetur et est culpa et culpa duis.
      </div>
      <a class="link link-accent">Ler mais sobre o projeto</a>
    </div>
  </section>

  <section class="flex flex-col w-full px-2 py-5">
    <div class="flex flex-col center">
      <h3 class="subTitle">Caracteristicas do MyNotes</h3>
    </div>
    <div class="grid grid-cols-2 gap-3 justify-items">

      <div class="flex flex-row gap-4">

      </div>

    </div>
  </section>



</main>
<app-footer />
