<!--
<app-navbar />
-->
<main class="flex flex-col gap-5 max-w-[1400px] h-auto center px-5">

  <section class="h-screen w-full flex flex-col justify-center">
    <h1 class="title text-[15vh] font-extrabold w-3/5">Bem vindo ao MyNotes</h1>
    <span class="text-lg font-semibold"><i class="text-red">##</i> definitivamento isto é um texto abaixo do h1</span>
  </section>

  <section class="h-screen w-full flex-col">

  </section>

  <section class="h-screen w-full flex flex-col center">
    <h2 class="subTitle text-xl w-full text-center">Caracteristicas do MyNotes</h2>
    <div class="text-center mt-3">
      Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.
    </div>
    <div class="w-full grid grid-cols-2 gap-3 justify-items-center content-center mt-8 w-4/5">
      <div class="flex flex-row items-center drop-shadow-lg bg-[#f0f0f0] rounded w-[90%]">
        <div class="drop-shadow-lg px-3 py-1 rounded text-[40px]">
          <i class="text-success bi bi-check-circle"></i>
        </div>
        <span class="text-base">Não é seguro,a sdkasjdkasj</span>
      </div>
      <div class="flex flex-row items-center drop-shadow-lg bg-[#f0f0f0] rounded w-[90%]">
        <div class="drop-shadow-lg px-3 py-1 rounded text-[40px]">
          <i class="text-success bi bi-check-circle"></i>
        </div>
        <span class="text-base">Não é seguro,a sdkasjdkasj</span>
      </div>
      <div class="flex flex-row items-center drop-shadow-lg bg-[#f0f0f0] rounded w-[90%]">
        <div class="drop-shadow-lg px-3 py-1 rounded text-[40px]">
          <i class="text-success bi bi-check-circle"></i>
        </div>
        <span class="text-base">Não é seguro,a sdkasjdkasj</span>
      </div>
      <div class="flex flex-row items-center drop-shadow-lg bg-[#f0f0f0] rounded w-[90%]">
        <div class="drop-shadow-lg px-3 py-1 rounded text-[40px]">
          <i class="text-success bi bi-check-circle"></i>
        </div>
        <span class="text-base">Não é seguro,a sdkasjdkasj</span>
      </div>
      <div class="flex flex-row items-center drop-shadow-lg bg-[#f0f0f0] rounded w-[90%]">
        <div class="drop-shadow-lg px-3 py-1 rounded text-[40px]">
          <i class="text-success bi bi-check-circle"></i>
        </div>
        <span class="text-base">Não é seguro,a sdkasjdkasj</span>
      </div>
      <div class="flex flex-row items-center drop-shadow-lg bg-[#f0f0f0] rounded w-[90%]">
        <div class="drop-shadow-lg px-3 py-1 rounded text-[40px]">
          <i class="text-success bi bi-check-circle"></i>
        </div>
        <span class="text-base">Não é seguro,a sdkasjdkasj</span>
      </div>
    </div>
  </section>

  <div class="flex flex-row gap-2 w-full bg-primary py-8 px-5 rounded shadow-lg shadow-cyan-500/50">

    <div class="flex flex-col gap-2 w-5/6 text-white justify-center">
      <h4 class="text-2xl font-semibold">Comece de graça agora mesmo</h4>
      <p class="text-sm">Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur
        cupidatat.</p>
    </div>
    <a class="btn btn-secondary min-w-[200px] self-center" href="">Começar</a>
  </div>

</main>
<app-footer />
