<!-- <app-navbar /> -->
<!--
- navbar
- Hero
- Idea
- Vantagens
- Se Cadastre
- Sobre
- Footer
-->

<main>
  <section id="hero" class="h-full w-full">
    <div>
      <h1 class="title">Bem vindo ao MyNotes</h1>
      <div>
        <!-- O texto nem faz sentido -->
        Desenvolvendo ideias, planejando o futuro, construindo oportunidades
      </div>
    </div>
  </section>

  <section id="info" class="h-full w-full center flex-row">
    <div class="center flex-col w-full">
      <h2 class="subtitle">Minhas Notas???</h2>
      <hr />
      <div>
        Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit
        enim labore culpa sint ad nisi Lorem pariatur mollit ex esse
        exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit
        nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor
        minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure
        elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor
        Lorem duis laboris cupidatat officia voluptate. Culpa proident
        adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod.
        Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim.
        Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa
        et culpa duis.
      </div>
    </div>
    <div>
      <h3>asdsadsd</h3>
    </div>
  </section>

  <section id="features" class="h-full w-full center flex-col">
    <h3 class="subtitle">Caracteristicas do MyNotes</h3>
    <hr />
    <div class="grd">
      <div><i class="bi bi-check2-circle"></i>Notas em Markdown</div>
      <div><i class="bi bi-check2-circle"></i>Gratuito</div>
      <div><i class="bi bi-check2-circle"></i>Codigo Aberto</div>
      <div>
        <i class="bi bi-check2-circle"></i>Suas Notas serão criptografadas
      </div>
      <div><i class="bi bi-check2-circle"></i>Seguro</div>
      <div><i class="bi bi-check2-circle"></i>Acessivel</div>
      <div><i class="bi bi-check2-circle"></i>Não é melhor que o obsidian</div>
      <div><i class="bi bi-check2-circle"></i> Ta salvo, Confia</div>
    </div>
  </section>
</main>

<!-- <app-footer /> -->
